/* Style for the message box */
#version-note {
	background-color: darkred;
	color: white;
	padding: 10px;
	margin: 20px auto;
	text-align: center;
	border-radius: 10px;
	position: relative;
	width: 60%; /* part of the page */
}

/* Style for the close "x" button */
#close-note {
	position: absolute;
	left: 10px;
	top: 10px;
	cursor: pointer;
	font-weight: bold;
}

/* Style for the dropdown */
#version-select {
	background-color: lightgray;
	color: black;
	border: none;
	padding: 5px;
	border-radius: 5px;
}
